body{
  background-image: url("pc.png");
  background-size: cover;
  background-repeat : no-repeat;
}

.contact-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-us h1 {
  font-size: 50px;
}

.contact-us-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.contact-us-form input {
  margin: 10px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  padding: 5px;
  font-size: large;
}

.contact-us-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  height: 40px;
  margin: 5px;
  padding: 20px;
  background-color: black;
  color: white;
  border-radius: 5px;
}
.navbar {
  position: relative;
  top: 4px;
  display: flex;
  justify-content:space-between;
  align-items:center;
  background-color: #fafafaf8;
  box-shadow: 0 10px 15px -3px rgba(255, 3, 3, 0.1),
    0 4px 6px -2px rgba(252, 0, 0, 0.05);
  z-index: 9999;
}
.navr{
   padding-left: 35rem;
   padding-right: 0%;
}


.navbar_brand {
  width: 100px;
  
}

.brand_logo {
  width: 100%;
}

.navbar_nav_items {
  display: flex;
}
.button_primary {
  margin-top: 9px;
  margin-right: 9px;
  border: 0;
  background-image: linear-gradient(
    to right,
    #d70f64 0%,
    rgb(212, 202, 202),
    rgb(54, 44, 44) 100%
  );
  background-size: 200% auto;
  padding: 4px 3px;
  color: white;
  text-align: center;
  transition: 0.5s;
  border-radius: 0px;
  font-weight: bold;
  box-shadow: 0 0 4px rgb(231, 10, 132);
  cursor: pointer;
  display: block;
}
.button_primary {
  float: right ;
}
.button_primary:hover {
  background-position: right center;
}

.nav_links {
  
  display: flex;
}

.nav_links ul {
  margin-left: 30px;
  display: inline;
}

.nav_links ul li {
  list-style: none;
  display: inline-block;
  padding: 5px 20px;
}
.nav_links ul a {
  color:#d70f64;
  text-decoration: none;
  font-size: 20px;
  
  font-family: Lucida Console, Courier New, monospace;
}

.nav_links ul li::after {
  content: "";
  width: 0;
  height: 2px;
  background: black;
  display: block;
  margin: auto;
  transition: 0.4s;
}
.nav_links ul li:hover::after {
  width: 100%;
}